/* General */
body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  background-image: url(Imagenes/BackGround.jpg);
  background-size: 300%;
  background-repeat: repeat-y;
  color: #4b3832;
}

.menu-container {
  max-width: 75%;
  margin: 40px auto;
  background: rgb(243, 225, 177);
  padding: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

header img.mainLogo {
  width: 80%;
  display: block;
  margin: 0 auto 30px;
}

.seccion {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 60px;
}

.seccion img {
  width: 100px;
  min-width: 100px;
  padding: 10px;
  border-radius: 8px;
}

.seccion.reverse {
  flex-direction: row-reverse;
}

.platillos {
  flex: 1;
  min-width: 200px;
}

.platillos h2 {
  font-family: 'Poetsen One', sans-serif;
  font-size: 2em;
  margin-bottom: 15px;
  border-bottom: 2px solid #a17447;
  padding-bottom: 5px;
}

h4 {
  color: #585047;
  font-size: 74%;
  margin-bottom: -12px;
}

.platillo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 1.2em;
}

/* Responsivo básico (opcional para tamaño de imágenes en móviles) */
@media (max-width: 500px) {
  .seccion img {
    width: 20%;
  }
  .platillos {
    flex: 1;
  }
}